@import "styles/variables";
@import "styles/mixins";

.home {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: #951619;
  position: relative;

  .menu {
    height: 3rem;
    position: fixed;
    top: 4rem;
    left: 4rem;
    cursor: pointer;
  }

  .logo {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    &:active {
      border: solid #a5494b;
    }

    .frame {
      height: 40vh;
      width: 30vw;
      margin-top: -4vw;

      @include set-layout($mm-max-width) {
        height: 50vh;
        width: 40vw;
      }
      @include set-layout($sm-max-width) {
        height: 60vh;
        width: 50vw;
      }
      @include set-layout($xsm-max-width) {
        height: 70vh;
        width: 60vw;
      }
    }

    .drone {
      position: absolute;
      display: flex;
      align-self: center;
      height: 12vh;
      width: 7vw;
      animation: spin 10s linear infinite;

      @include set-layout($mm-max-width) {
        height: 22vh;
        width: 10vw;
      }
      @include set-layout($sm-max-width) {
        height: 32vh;
        width: 13vw;
      }
      @include set-layout($xsm-max-width) {
        height: 42vh;
        width: 16vw;
      }
    }
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
